
body
{
    font-family: 'B612 Mono', monospace;
}

.top-container
{
    margin: 50px ;
    padding-top: 50px;
    background-image: url("images/bg-pattern-top-desktop.svg");
}

h1
{
    margin-bottom: 0;
    color: rgb(109, 9, 109);
}

.subtitle
{
    margin-top: 0;
    color: grey;
}